<div class="container text-center">
    <form class="form-signin" onsubmit="register(event)">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>

        <label for="name" class="sr-only">Name</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" />

        <label for="age" class="sr-only">Age</label>
        <input type="number" id="age" name="age" class="form-control" placeholder="Age" />

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" />

        <label for="confirm_password" class="sr-only">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password" />

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Signup
        </button>
    </form>
</div>

<script src="/js/register.js"></script>