<div class="container">
    {{message}}
    <ul>
        {{#users}}
            <li>
                <a href="/users/{{user_id}}/todos/{{id}}">{{title}}</a>
            </li>
        {{/users}}
    </ul>
</div>