<div class="container">
    {{message}}
    <ul>
        {{#users}}
            <li>
                <a href="/users/{{id}}">{{name}} = {{age}}</a>
            </li>
        {{/users}}
    </ul>
</div>