<div class="container">
    <form onsubmit="addTodo(event)">
        <h3 class="text-center">{{title}}</h3>
        <div class="form-group">
            <label for="todo">Todo</label>
            <input type="text" class="form-control" id="todo" aria-describedby="todo" placeholder="New Todo" />
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

<script src="/js/todo.js"></script>